# app port
PORT=3000

# DB 
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/personal?schema=chatpilot

# authentication
JWT_SECRET=thisissosecret
X_API_KEY=apikey

# provider keys
GEMINI_API_KEY=AIzaSyBFSW3h18zG5iwjaH14uJA18O_4e8Mf8DA

# cors
USER_FRONTEND_URL=http://localhost:5173